<br>
<br>
<br>
<br>
<br>
<table>
    <tr>
        <td>
<img src="../../../assets/img/Comedor/cedro1.jpg" alt="">
</td>
<td>
<p>
    Comedor  de cedro para 8 personas<br>
    Este comedor tallado a mano es excelente para las reuniones familiares o si la familia es muy grande 
    tiene un buen tamaño<br>
</p>

</td>
</tr>

<tr>
    <td>
<img  src="../../../assets/img/Comedor/C4GrisSGrises.png" alt=""> 
</td>
<td>
    <p>
        Comedor de marmol gris para 6 personas
        Este comedor tallado a mano es excelente para las reuniones familiares o si la familia es muy grande tiene un buen tamaño

</p>
</td>
</tr>
<tr>
<img  src="../../../assets/img/Comedor/CCarameloSNegras.png" alt=""> 
<td>
<p>
    Comedor de marmol para 6 personas
Este comedor tallado a mano es excelente para las reuniones familiares o si la familia es muy grande tiene un buen tamaño

</p>
</td>
</tr>
</table>