<!-- <img src="../../../assets/img/features-3.png" alt="">  -->
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
        <p>
            Somos una empresa dedicada a la fabricación de muebles rústicos con ingenio y orgullo artesanal
            desde hace mas de 20 años, tratando día a día de satisfacer las necesidades de nuestros clientes,
            así como de realizar muebles funcionales, creando ambientes cálidos en hogares mexicanos y extranjeros.
        </p>
    </div>
    <div>
        <img src="../../../assets/img/team/equipo.PNG" class="img-fluid" alt="">
    </div>
</div>

<br>

<h2>
    Cualquiera de nuestros productos se puede modificar para satisfacer las necesidades de nuestros clientes.
    <br>
    Algunas modificaciones tienen costo extra.
    <br>
    Enviamos a cualquier parte del mundo a través de las diversas empresas exportadoras ubicadas en Tonalá
</h2>