<br>
<br>
<br>
<br>
<br>
<table>
    <tr>
        <td>
    <img class="box" src="../../../assets/img/Sillas/IMG-20210501-WA0039.jpg" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Silla color Caqui atigrada 🤙           </h3>
</td>
</tr>
<tr>
<td>
    <img class="box" src="../../../assets/img/Sillas/IMG-20220125-WA0198.jpg" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Silla color Gris opaco aterciopelada 😈 
    </h3>
</td>
</tr>
<tr>
<td>
    <img class="box" src="../../../assets/img/Sillas/IMG-20220125-WA0210.jpg" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Silla plateada aterciopelada 🥧
    </h3>
</td>
</tr>
<tr>
<td>
    <img class="box" src="../../../assets/img/Sillas/IMG-20220207-WA0012.jpg" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Silla azul cobalto aterciopelada ❄
    </h3>
</td>
</tr>
<tr>
<td>
    <img class="box" src="../../../assets/img/Sillas/IMG-20220207-WA0024.jpg" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Silla negra azabache aterciopelada 🐒
    </h3>
</td>
</tr>
<tr>
<td>
</table>