<br>
<br>
<br>
<br>
<br>
<table>
    <tr>
        <td>
            <img class="box" src="../../../assets/img/Recamaras/CabeceraAcaparaNegraMatyKing.png" alt="">
        </td>
        <td>
            <h3>
                Cabecera color negro aterciopelada mate con incrustaciones de diamantes tamaño matrimonial            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <img class="box" src="../../../assets/img/Recamaras/CabeceraMatRoja.png" alt="">
        </td>
        <td>
            <h3>
                cabecera color rojo aterciopelada mate con incrustaciones de diamantes tamaño matrimonial
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <img class="box" src="../../../assets/img/Recamaras/RecamaraQueen.png" alt="">
        </td>
        <td>
            <h3>
                Base king size con cabecera de piel color negro azabache
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <img class="box" src="../../../assets/img/Recamaras/RecamaraIndGris.png" alt=""><br><br><br><br>
        </td>
        <td>
            <h3>
                Cama individual color negro brilloso, con colchon ortopedico incluido
            </h3>
        </td>
    </tr>
    <tr>
        <td>
    <img class="box" src="../../../assets/img/Recamaras/RecamaraEChocolate.png" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Cajoneras de dos cajones, madera de roble en color negro azabache
    </h3>
</td>
</tr>
<tr>
    <td>
    <img class="box" src="../../../assets/img/Recamaras/RecamaraEspejocorredizo.png" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Cama queen con cabecera aterciopelada con incrustaciones de perlas
    </h3>
</td>
</tr>
<tr>
    <td>
    <img class="box" src="../../../assets/img/Recamaras/ClosetTitan.png" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Ropero negro con espejo de cuerpo completo, con cuatro cajones incluidos en color negro mate
    </h3>
</td>
</tr>
<tr>
    <td>
    <img class="box" src="../../../assets/img/Recamaras/RecamQueen.png" alt=""><br><br><br><br>
</td>
<td>
    <h3>
        Cama king size con cabecera aterciopelada con incrustaciones de perlas
    </h3>
</td>
</tr>
</table>