<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center text-md-left">
    <h1>Muebles La Espuela</h1>
    <h2>Tu imaginalo, nosotros lo hacemos realidad.</h2>
  </div>
</section>

<section id="inicio1" class="inicio1">
 

  <div class="container">

    <div class="row">
      <div class="col-xl-6 col-lg-7">
        <img src="assets/img/caballos.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
        <h3>Bienvenidos!</h3>
        <p>
          Somos una empresa dedicada a la fabricación de muebles rústicos con ingenio
          y orgullo artesanal, tratando día a día de satisfacer las necesidades de nuestros clientes,
          así como de realizar muebles funcionales, creando ambientes cálidos en hogares mexicanos y extranjeros.
        </p>
      </div>
    </div>

  </div>

</section>